/* --- Basic Styles --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* Smooth scrolling for anchor links */
  background-color: var(--background-color);
}

body {
  font-family: var(--main-font);
  max-width: 96%;
  margin: 0 auto 0 auto; padding: 0;
  color: var(--text-color);
  background-color: var(--body-bg);
  border: thin solid var(--border-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4,
h5,
h6 {
  font-size: 1.25em;
}

code,
pre {
  font-family: var(--mono-font);
  font-size: 1em;
  background: var(--light-color);
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: var(--primary-dark);
}