.language-selector-container {
  display: flex;
  flex-flow: row nowrap;
  justify-self: right;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
  align-self: center;
  align-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  border: thin solid transparent;
}

.language-selector-container select {
  font-family: var(--system-font);
  font-size: small;
  font-weight: bold;
  text-align: right;
  color: var(--language-color);
  border: thin solid transparent;
  background-color: var(--body-bg);
}

.flags-selector-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3rem;
  background-color: var(--language-bg);
  border: thin solid var(--border-color);
}

button.flags-selector {
  border: thin solid transparent;
  background-color: transparent;
  margin: 0.1rem;
  padding: 0.2rem;
  color: var(--gray-dark);
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
}

button.flags-selector:hover {
  font-weight: bold;
  border: thin solid var(--dark-color);
}

button.flags-selector:focus {
  font-weight: bold;
  border: thin solid var(--gray-dark);
  color: var(--danger-color);
}

.flags-selector img {
  display: block;
  width: 2.5rem;
  height: auto;
  border: thin solid transparent;
  margin: 0 auto 0 auto;
  padding: 0;
}